# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
chat.exe
# Test binary, built with `go test -c`
*.test
.env
data/
data/sqlite.*
data/sqlite3.*
data/chat.db
data/chat.db-shm
data/chat.db-wal
data/chat.db-journal
data/chat.db.lock
data/chat.db-tmp


# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
auth_test.go

# env file
.env
.testenv
# Editor/IDE
# .idea/
# .vscode/
